* {
    margin: 0px;
    font-family: 'Nunito', sans-serif;
}


header {
    display: flex;
    background-color: rgb(24, 23, 23);
    align-items: center;
    justify-content: flex-start;
    padding: 0px 5px;
    margin-top: -60px;
    gap: 5px;
    transition: all 400ms ease-in-out;
    z-index: 10;
}

header:hover {
    padding: 0px 30px;
    gap: 30px;
    margin-top: 0px;
}

main {
    display: flex;
    width: 99%;
    height: 845px;
    margin-left: -500px;
    margin-top: 5px;
    /* border: 5px solid black; */
    opacity: 0;
    justify-content: flex-start;
    animation: startAnimation 1.5s ease-out;
    margin-left: 5px;
    opacity: 1;
    z-index: 9;
}

footer {
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: rgb(239, 238, 238);
    font-size: 28px;
}

h1 {
    color: rgb(70, 69, 69);
    font-size: 32px;
    transition: all 250ms ease-in-out;
    user-select: none;
    text-shadow: 1px 1px 2px rgb(70, 69, 69);
}

h1:hover {
    color: rgb(32, 30, 30);
    text-shadow: 1px 1px 2px rgb(32, 30, 30);
    margin-bottom: 5px;
}

h3 {
    color: rgb(59, 58, 58);
    font-size: 20px;
    transition: all 250ms ease-in-out;
    user-select: none;
    text-shadow: 1px 1px 1.5px rgb(59, 58, 58);
}

h3:hover {
    color: rgb(40, 39, 39);
    text-shadow: 1px 1px 1.5px rgb(40, 39, 39);
    margin-top: 7.5px;
}

p {
    color: rgb(76, 71, 71);
    font-size: 18px;
    transition: all 350ms ease-in-out;
    user-select: none;
}


#footer-logo {
    width: 90px;
    height: 90px;
}

#footer-cont {
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 2px;
    align-items: center;
    gap: 0px;
    margin-right: 1892.5px;
    transition: all 700ms ease-in-out;
}

#footer-cont:hover {
    background-color: rgb(219, 217, 217);
    border: 1px solid transparent;
    box-shadow: 0px 0px 5px rgb(19, 19, 19);
    border-radius: 16px;
    margin-right: 1350px;
    gap: -30px;
}


.header_a {
    transition: all 300ms ease-in-out;
}

.header_a:hover {
    color: rgb(198, 192, 192);
    font-size: 32px;
}

.header_a_cont {
    border: 3px dotted transparent;
    border-radius: 1px;
    padding: 1px 1px;
    transition: all 300ms ease-in-out;
}

.header_a_cont:hover {
    border: 3px dotted rgb(198, 192, 192);
    border-radius: 16px;
    padding: 5px 5px;
}