{% extends 'Base/base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'Base/css/tracks-page.css' %}">
{% endblock %}

{% block content %}
    <div class="music-styles-cont">
        <div class="music-styles-a-conts"><a class="music-styles-a" href="#">Фонк</a></div>
        <div class="music-styles-a-conts"><a class="music-styles-a" href="#">Рок</a></div>
        <div class="music-styles-a-conts"><a class="music-styles-a" href="#">Джаз</a></div>
        <div class="music-styles-a-conts"><a class="music-styles-a" href="#">Тяжкий метал</a></div>
        <div class="music-styles-a-conts"><a class="music-styles-a" href="#">Класика</a></div>
    </div>
{% endblock %}