{% extends 'Base/base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'Base/css/tracks-page.css' %}">
{% endblock %}

{% block content %}
    <div class="music-styles-cont">
        <div class="music-styles-a-conts"><a class="music-styles-a" href="{% url 'phonk_page' %}">Фонк</a></div>
        <div class="music-styles-a-conts"><a class="music-styles-a" href="{% url 'rock_page' %}">Рок</a></div>
        <div class="music-styles-a-conts"><a class="music-styles-a" href="{% url 'jazz_page' %}">Джаз</a></div>
        <div class="music-styles-a-conts"><a class="music-styles-a" href="{% url 'heavy_metal_page' %}">Тяжкий метал</a></div>
        <div class="music-styles-a-conts"><a class="music-styles-a" href="{% url 'classic_page' %}">Класика</a></div>
    </div>

    {% block track_types %}
    {% endblock %}
{% endblock %}