{% extends 'Base/base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'Base/css/base.css' %}">
{% endblock %}

{% block content %}
    <div class="main_info_cont">
        <h1>Вітаємо на </h1>
        <h1 id="ukraine-color">українському</h1>
        <h1> сайті по прослуховуванню музики!</h1>
        <p>Цей сайт надасть вам послуги у прослуховуванні музики,
            слухайте різні жанри які вам до вподоби та користуйтеся
            цим веб-додатком собі на користь.
        </p>
        <img src="{% static 'Base/img/main_cont_logo.png' %}" alt="main_cont_logo" id="main-cont-logo">
    </div>

    <div class="main_info_cont">
        <h1>Audio Listener</h1>
        <p>*Відпочинок
            <br>*Гра
            <br>*Спорт 
            <br>*Навчання
            <br>*Робота
            <br>*Читання
            <br>*Справи
        </p>

        <h3>Та багато іншого з Audio Listener!</h3>
        <img src="{% static 'Base/img/app_use_ideas_logo.png' %}" alt="app_use_ideas_logo" id="app-use-ideas-logo">
    </div>

    <div class="live_info_cont">
        <h1>Гарячі новивни!!!</h1>
        <p>Quos perspiciatis nam voluptas labore cupiditate praesentium, qui nobis, 
            quia quo rerum at ipsa ullam sunt beatae illum porro, 
            aperiam blanditiis sequi. 
            Quos perspiciatis nam voluptas labore cupiditate praesentium, qui nobis, 
            quia quo rerum at ipsa ullam sunt beatae illum porro, 
            aperiam blanditiis sequi.</p>
        <img src="{% static 'Base/img/logo.png' %}" alt="hot-news" id="hot-news">
    </div>
{% endblock %}