{% extends 'Base/base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'Base/css/main-page.css' %}">
{% endblock %}

{% block content %}
    <div class="main_info_cont">
        <h1>Вітаємо на </h1>
        <h1 id="ukraine-color">українському</h1>
        <h1> сайті по прослуховуванню музики!</h1>
        <p>Цей сайт надасть вам послуги у прослуховуванні музики,
            слухайте різні жанри які вам до вподоби та користуйтеся
            цим веб-додатком собі на користь.
        </p>
        <img src="{% static 'Base/img/main_cont_logo.png' %}" alt="main_cont_logo" id="main-cont-logo">
    </div>

    <div id="app-use-ideas-cont">
        <h1>Audio Listener</h1>
        <p>*Відпочинок
            <br>*Гра
            <br>*Спорт 
            <br>*Навчання
            <br>*Робота
            <br>*Читання
            <br>*Справи
        </p>

        <h3>Та багато іншого з Audio Listener!</h3>
        <img src="{% static 'Base/img/app_use_ideas_logo.png' %}" alt="app_use_ideas_logo" id="app-use-ideas-logo">
    </div>

    <div class="live-info-cont">
        <h1>Гарячі новивни!!!</h1>
        <p>У додатку з'явились понад 25 нових треків!
            <br>*Джаз
            <br>*Рок
            <br>*Тяжкий метал
            <br>*Фонк
            <br>*Класика
        </p>

        <h3>Тільки у нас!</h3>
        <img src="{% static 'Base/img/logo.png' %}" alt="hot-news" id="hot-news">

        <h1>Надаємо можливості!</h1>
        <p>Ви завжди маєте можливість використовувати </p>
        <h2 class="live-info-cont-h2">AudioListener</h2>
        <p> при проведені дозвілля та вільного часу як одному так із іншими</p>
        <h3>Використовуйте AudioListener собі на користь!</h3>

        <img src="{% static 'Base/img/live_info_cont_logo.png' %}" 
            alt="live_info_cont_logo" 
            id="live-info-cont-img">
    </div>

    <div id="heart-cont">
        <img src="{% static 'Base/img/heart.png' %}" alt="heart" id="heart">
        <h3 id="heart-cont-h3">Рухайся з нами!</h3>
    </div>

    <div id="contact-cont">
        <h1>Контактна інформація</h1>

        <br><h3>Instagram</h3>
        <p class="contact-info">інстаграм.com</p>

        <br><h3>Facebook</h3>
        <p class="contact-info">фейсбук.com</p>

        <br><h3>Youtube</h3>
        <p class="contact-info">ютуб.com</p>
    </div>

    <div id="right-cont">
        <img src="{% static 'Base/img/arrow_up.png' %}" alt="arrow_up" id="arrow-up">

        <p>Використання</p>
        <div id="using-icons">
            <img src="{% static 'Base/img/using-icons/games.png' %}" alt="games" class="using-icons-img">
            <img src="{% static 'Base/img/using-icons/hobbie.png' %}" alt="hobbie" class="using-icons-img">
            <img src="{% static 'Base/img/using-icons/rest.png' %}" alt="rest" class="using-icons-img">

            <br><img src="{% static 'Base/img/using-icons/sport.png' %}" alt="sport" class="using-icons-img">
            <img src="{% static 'Base/img/using-icons/study.png' %}" alt="study" class="using-icons-img">
            <img src="{% static 'Base/img/using-icons/work.png' %}" alt="work" class="using-icons-img">
        </div>

        <img src="{% static 'Base/img/path-logos/path_first_logo.png' %}" alt="path" class="path-logos">
        <img src="{% static 'Base/img/path-logos/path_second_logo.png' %}" alt="path" class="path-logos">
    </div>
{% endblock %}